.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #00000020;
  box-sizing: border-box;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  transition: box-shadow 0.3s, transform 0.3s;
  border-radius: 10px;
  
  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
  }
}

.imageArea {

}

.imageWrap {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 100%;
  padding-bottom: 56.25%; /* 비율 */
  overflow: hidden;
}

.imageCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.027);
  z-index: 1;
}

.image {
  position: absolute;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.textArea {
  padding: 10px;
  display: flex;
  background-color: white;
}

.title {
  font-size: 15px;
  display: flex;
  align-items: center;
}