.item {
  display: flex;
  cursor: pointer;
  height: 100px;
  overflow: hidden;
}

.imageArea {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.imageWrap {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 100%;
  padding-bottom: 100%; /* 비율 */
}

.image {
  position: absolute;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.textArea {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.titleWrap {
  margin-bottom: 10px;
}

.description {
  line-height: 1.5;
}