.wrap {
  margin-bottom: 10px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  background: gainsboro;
  padding: 5px 8px;
  border-radius: 100px;
  border: grey solid 1px;
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }

  &:active {
    transform: scale(0.9);
  }
}