@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.codeWrap {
  background: var(--code-background-color);
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;

  &:hover {
    .header {
      height: 40px;
      transform: translateY(0px);
    }

    .code {
      padding: 0 20px 16px 20px;
    }
  }
}

.header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 0px;
  transform: translateY(-40px);
  transition: height 0.2s, transform 0.2s;
}

.buttonWrap {
  padding-left: 20px;
  display: flex;
}

.redButton {
  position: relative;
  background-color: var(--button-red-color);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.orangeButton {
  position: relative;
  background-color: var(--button-orange-color);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.greenButton {
  position: relative;
  background-color: var(--button-green-color);
  width: 14px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
}

.htmlTitle {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: var(--button-red-color);
  font-size: 20px;
  font-weight: 900;
  font-family: 'Italianno', cursive;
}

.jsTitle {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: var(--button-orange-color);
  font-size: 20px;
  font-weight: 900;
  font-family: 'Italianno', cursive;
}

.cssTitle {
  display: flex;
  align-items: center;
  padding-right: 20px;
  color: var(--button-blue-color);
  font-size: 20px;
  font-weight: 900;
  font-family: 'Italianno', cursive;
}

.code {
  margin: 0;
  padding: 16px 20px;
  transition: padding 0.2s;
  color: var(--code-font-color);
  overflow: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}

// 스크롤바

.code::-webkit-scrollbar {
  height: 0.5rem;
  background: transparent;
}

.code::-webkit-scrollbar-thumb {
  background: var(--code-scrollbar-color);

  &:hover {
    background: var(--code-scrollbar-hover-color);
  }
}