@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.header {
  background: var(--nav-background-color);
  padding: 100px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-family: 'Goldman', cursive;
  font-size: 42px;
  font-weight: 400;
  color: whitesmoke;
  margin-bottom: 25px;
}

.headerSubTitle {
  font-size: 17px;
  font-weight: 400;
  color: whitesmoke;
  margin-bottom: 25px;
}

.headerImage {
  width: 200px;
  border-radius: 100px;
  margin-bottom: 25px;
}

.headerLinkWrap {
  display: flex;
  margin-bottom: 25px;
}

.headerLink {
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0 10px;
 
  p:last-child {
    margin-left: 5px;
  }
}