.shoot {
  display: grid;
  grid-template-columns: 3fr 2fr;
  overflow: hidden;
}

.leftSection {
  padding: 20px;
  overflow-y: scroll;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.rightSection {
  padding: 20px;
  overflow-y: auto;
}

// 스크롤바

.leftSection::-webkit-scrollbar, 
.rightSection::-webkit-scrollbar {
  width: 0.5rem;
}

.leftSection::-webkit-scrollbar-thumb,
.rightSection::-webkit-scrollbar-thumb {
  background: #32325029;

  &:hover {
    background: #ceced5;
  }
}