.shoot {
  display: flex;
  overflow: hidden;
}

.leftSection {
  padding: 20px;
  overflow-y: scroll;
  width: 60%;
}

.resizer {
  width: 18px;
  cursor: col-resize;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.rightSection {
  padding: 20px;
  overflow-y: auto;
  width: 40%;
}

// 스크롤바

.leftSection::-webkit-scrollbar, 
.rightSection::-webkit-scrollbar {
  width: 0.5rem;
}

.leftSection::-webkit-scrollbar-thumb,
.rightSection::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);

  &:hover {
    background: var(--scrollbar-hover-color);
  }
}