.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categoryWrap {
  position: relative;
  margin-right: 10px;
  margin-bottom: 20px;
}

.searchWrap {
  display: flex;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}