.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.categoryWrap {
  position: relative;
}

.searchWrap {
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}