.company {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  border-radius: 50px;
  display: block;
  margin-bottom: 20px;
}

.name {
  color: whitesmoke;
  margin-bottom: 10px;
  font-size: 18px;
}

.position {
  color: #c0c0c0;
  margin-bottom: 10px;
  font-size: 16px;
}

.term {
  color: #c0c0c0;
  margin-bottom: 10px;
  font-size: 16px;
}

