.wrap {
  background: var(--nav-background-color);
}

.headerTitle {
  color: rgb(253, 192, 115);
  font-family: 'Goldman', cursive;
  font-size: 25px;
  margin: 25px 0;
}

.headerText {
  color: whitesmoke;
  font-size: 17px;
  margin-bottom: 25px;
}

.companyWrap {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}