@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.header {
  background: var(--nav-background-color);
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Goldman', cursive;
  font-size: 42px;
  font-weight: 400;
  color: whitesmoke;
  margin-bottom: 25px;

  span {
    margin: 0 12px 0 0;
    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin: 0;
    }
  }
}

.text {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: whitesmoke;
  margin: 0 0 25px 0;

  span {
    margin: 0 4px 0 0;
    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.linkWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.linkButton {
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-style: italic;
  cursor: pointer;
 
  p:last-child {
    margin-left: 5px;
  }
}

.linkText {
  font-size: 16px;
  @media (max-width: 750px) {
    display: none;
  }
}

.contact {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fdc073;
  display: flex;
  align-items: center;

  transition: width 0.5s;
}

.profile {
  width: 200px;
  border-radius: 100px;
  margin-bottom: 50px;
}

.desk {
  display: block;
  width: 100%;
  max-width: 490px;
  padding: 0 20px;
  box-sizing: border-box;
}