.wrap {

}

.headerTitle {
  font-family: 'Goldman', cursive;
  font-size: 25px;
  margin: 25px 0;
}

.headerText {
  font-size: 17px;
  margin-bottom: 25px;
}

.githubWrap {
  margin-right: 15px;
  display: inline-block;
  line-height: 1.5;
  
  a {
    display: flex;
    align-items: center;
  
    .github {
      margin-right: 5px;
    }
  
    .iconWrap {
      display: flex;
      align-items: center;
    }
  
    .text {
    }
  }
}
