.wrap {

}

.headerTitle {
  font-family: 'Goldman', cursive;
  font-size: 25px;
  margin: 25px 0;
}

.headerText {
  font-size: 17px;
  margin-bottom: 25px;
}

.github {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    height: 100%;

    .icon {
      position: absolute;
      display: flex;
      align-items: center;
    }

    .text {
      margin-left: 20px;
    }
  }
}