.wrap {
  background: whitesmoke;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-family: 'Goldman', cursive;
  font-size: 25px;
  margin: 25px 0;
}

.headerText {
  font-size: 17px;
  margin-bottom: 25px;
}