.header {
  background: var(--nav-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.headerTitle {
  color: #fdc073;
  font-family: 'Goldman', cursive;
  font-size: 25px;
  margin: 25px 0;
}

.headerText {
  color: whitesmoke;
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.5;
}