@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.wrap {
  position: relative;
  background: whitesmoke;
}

.extraBackground {
  position: absolute;
  background: var(--nav-background-color);
  width: 100%;
  height: 200px;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: white;
  border-radius: 12px;
  border: gainsboro solid 1px;
  z-index: 1;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);

  @media (max-width: 750px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItem {
  padding: 20px;
  text-align: center;
  border-right: gainsboro solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 750px) {
    border-right: 0;
    border-bottom: gainsboro solid 1px;
  }
}

.gridItem:last-child {
  border: 0;
}

.itemIcon {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.writeIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: write;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
}

.gearIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
}

.itemTitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.itemSubTitle {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}
@keyframes write {
  from { left: -3px; }
  to { left: 3px; }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}