@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.itemWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 840px) {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
  }

  @media (min-width: 1040px) {
    width: 1040px;
  }
}

.imageArea {
  @media (max-width: 840px) {
    order: 0 !important;
  }
}

.image {
  border-radius: 3px;
  width: 100%;
  display: block;
}

.subTitle {
  font-size: 25px;
  font-family: 'Goldman', cursive;
  font-weight: 900;
  color: #fdc073;
  margin-bottom: 10px;
  
  @media (max-width: 840px) {
    font-size: 20px;
  }
}

.title {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Goldman', cursive;
  color: black;
  margin-bottom: 30px;
  line-height: 50px;

  @media (max-width: 840px) {
    font-size: 40px;
  }
}

.description {
  word-break: break-all;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 16px;
}

.firstButton {
  background: #fdc073;
  color: #373636;
  font-weight: 700;
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  padding: 0 20px;
  margin-right: 10px;
  cursor: pointer;
}

.secondButton {
  color: #373636;
  font-size: 15px;
  cursor: pointer;
}