.wrap {
  background: whitesmoke;
  flex-grow: 1;
}

.item {
  margin-bottom: 10px;
  font-size: 14px;
  color: grey;
}

.item:last-child {
  margin-bottom: 0;
}

.admin {
  cursor: pointer;
  font-size: 14px;
  color: grey;
  margin-right: 10px;
}

.editor {
  cursor: pointer;
  font-size: 14px;
  color: grey;
}