@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg,#414141 0,#373636);
  padding: 0 20px;
}

.titleWrap {
  color: #fdc073;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
}

.textWrap {
  margin-bottom: 20px;
}

.text {
  color: white;
  text-align: center;
}

.firstButton {
  background: #fdc073;
  color: #373636;
  font-weight: 700;
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  padding: 0 20px;
  margin-right: 10px;
  cursor: pointer;
}

.secondButton {
  color: #fdc073;
  font-size: 15px;
  cursor: pointer;
}