$background-color: #ecececea;

.dropdown {
  position: absolute;
  border-radius: 5px;
  background-color: $background-color;
  z-index: 10;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0,0,0,0.10);

  li {
    cursor: pointer;
    margin: 10px 20px;
    font-size: 15px;
    text-align: start;
    white-space: nowrap;
  }
}

$arrow-height: 10px;

.after {
  top: -($arrow-height);
  left: 16px;
  z-index: 10;
  position: absolute;
  width: 0;
  height: 0;
  border-left: $arrow-height solid transparent;
  border-right: $arrow-height solid transparent;
  border-bottom: $arrow-height solid $background-color;
}