$background-color: #ecececea;

.dropdown {
  padding: 4px 0;
  position: absolute;
  border-radius: 5px;
  background-color: $background-color;
  z-index: 100;
  box-shadow: 0 14px 28px rgba(102, 100, 100, 0.1), 0 10px 10px rgba(0,0,0,0.10);
  transition: top 0.3s;
  cursor: default;

  li {
    padding: 3px 20px;
    font-size: 14px;
    text-align: start;
    white-space: nowrap;

    &:hover {
      background: #ceced5;
    }
  }
}

$arrow-height: 10px;

.after {
  top: -($arrow-height);
  z-index: 10;
  position: absolute;
  width: 0;
  height: 0;
  border-left: $arrow-height solid transparent;
  border-right: $arrow-height solid transparent;
  border-bottom: $arrow-height solid $background-color;
}