@import '../common/layout.scss';

.wrap {
  width: 100vw;
  height: $header-height;
  display: flex;
  justify-content: center;
  background: var(--nav-background-color);

  @media (max-width: 800px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  @media (min-width: 1000px) {
    width: 1000px;
  }
}

.homeWrap {
  display: flex;
}

.itemWrap {
  display: flex;

  @media (max-width: 800px) {
    display: none;
  }
}