@import '../common/layout.scss';

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.item {
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
}